body {
	height: 100vh;
	margin: 0;
  font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 16px 15%;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.hero {
	display: flex;
	margin: 100px 15%;
	gap: 5%;
}

.hero-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	gap: 12px;
}

h1 {
	font-size: 48px;
	font-weight: 900;
}

img {
	width: 50%;
	min-width: 600px;
	min-height: 200px;
}

.top-section, .footer {
	background-color: #1F2937;
	color: #F9FAF8;
}

ul {
	list-style-type: none;
	display: flex;
	gap: 16px;
	align-items: center;
}

li, .hero p {
	font-size: 18px;
	color: #E5E7EB;
}

button, .call-to-action {
	background-color: #3882F6;
	color: #F9FAF8;
}

button {
	padding: 12px 32px;
	border-radius: 12px;
	border: none;
	font-weight: bold;
	font-size: 18px;
}

